@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
	--white: #fcfcfc;
	--primary-color: #003f9e;
	--second-color: #4a8ff7;
	--disable-color: #fcfcfcb3;
}

* {
	outline: 0;
	font-family: 'Open sans', sans-serif;
	font-weight: bold;
	text-align: center;
	box-sizing: border-box;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.disable {
	color: var(--disable-color);
}

body {
	background-color: var(--primary-color);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 1.8em;
	font-size: 1.2em;
	max-width: 30rem;
	max-height: 40rem;
	margin: 6rem auto;
	padding: 2rem 0rem 1rem;
	border-radius: 1.5rem;
	border: solid 1px var(--white);
}

#form {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--white);
}

#form .row {
	display: flex;
	flex-direction: row;
	margin: 1rem 0;
}

#form .row .col {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#form .row .col2 {
	align-items: flex-start;
	margin-left: 1rem;
	line-height: 1.8em;
}

input {
	width: 1rem;
	height: 2rem;
	border-radius: 0.5rem;
	border: 1px solid var(--white);
}

input[type='number'] {
	width: 3rem;
	height: 1.8rem;
	color: var(--white);
	background-color: var(--primary-color);
	line-height: 1em;
	font-size: 0.8em;
}

h1 {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
}

h1,
h2,
button {
	background-color: var(--white);
	color: var(--primary-color);
	height: 3rem;
}

button {
	width: 9rem;
	font-size: 1.2em;
	border-radius: 20rem;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: var(--second-color);
	color: var(--white);
}

#result {
	background-color: var(--primary-color);
	color: var(--white);
	max-width: 96%;
	word-wrap: break-word;
	height: 8rem;
}

@media only screen and (max-width: 768px) {
	.container {
		line-height: 1.6em;
	}

	#form .row .col2 {
		line-height: 1.6em;
	}

	input {
		height: 1.5rem;
	}

	input[type='number'] {
		width: 2.5rem;
		height: 1.5rem;
		font-size: 0.7125em;
	}
}

@media only screen and (max-width: 576px) {
	body {
		padding: 0 1rem;
	}

	.container {
		line-height: 1.4em;
		font-size: 1.1em;
	}

	#form .row .col2 {
		line-height: 1.4em;
	}

	input {
		height: 1.4rem;
	}

	input[type='number'] {
		width: 2.4rem;
		height: 1.3rem;
	}
}
@media only screen and (max-width: 420px) {
	.container {
		line-height: 1.2em;
		font-size: 1em;
	}

	#form .row .col2 {
		line-height: 1.2em;
	}

	input {
		width: 0.8rem;
		height: 1.3rem;
	}

	input[type='number'] {
		width: 2.2rem;
		height: 1.2rem;
		font-size: 0.65em;
	}
}
